<!DOCTYPE html>
<html>
<head>
	<title><%= @page %></title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

  <nav>
    <!-- REMEMBER: DO NOT USE INLINE STYLES.  -->
    <p >Nav:
      <a href="/items">Item list</a> •
      <a href="/items/add">Add Items</a>
    </p>
  </nav>
  
  <h1 id="app-name">Awesome Site!</h1> 

	<h1 >Awesome Item App (this h1 is in hello.erb)</h1>

	<%= yield %>

</body>
</html>