<h2>Sign up:</h2>

<h3>Already have an account? Log in <a href="/user/login">here</a></h3>

<form action="/user/register" method="POST">
	<input type="text" name="username" placeholder="desired username" /><br />
	<input type="password" name="password" placeholder="password"><br />
	<button>Register</button>	
</form>